<!DOCTYPE html>
<html>
  <head>
    <title>Raindrop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Raindrop</h1>
    <script src="https://unpkg.com/unmute" data-add-button="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tone/13.8.6/Tone.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>

    <script src="/javascripts/main.js"></script>
  </body>
</html>
